{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=True)%}
{% if messages %}
    {% for category, message in messages %}
        <div>
            {{message}}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Change an already annotated observation</h2>

<div>
    <textarea class="form-control" rows=4 readonly>{{label_to_change.content}}</textarea>

    <form action="" method="POST">
        <div class="form-group">
            <input type="submit" name = "action" class="btn btn-success btn-lg btn-block" value="Normal">
        </div>
        </div>
        <div class="form-group">
            <input type="submit" name = "action" class="btn btn-danger btn-lg btn-block" value="Toxic">
        </div>
    </form>
</div>

{% endblock %}