{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

<h2>About the project</h2>
<p>Labeled data is the foundation of Supervised Machine Learning. Even though labeling is often considered to be a pain in the ass it has to be carried out carefully. 
    It doesn't matter how good your model is if the data on which it is trained on is of bad quality. That's why I think it is a good idea that especially
    Data Scientist are involved in the labeling process. Often they know a lot about the data at hand and they have a great interest in high
    quality data.</p>

<p>
    The main goal of this personal project was to learn a little bit about Web development. Even if web development isn't really 
    necessary for the typical tasks of a Data Scientist, I have been tempted try it just for fun. Also there are some aspects 
    about it (visualization, presentation of content, ...) which are also imortant for a Data Scientist. Even though the 
    application is far from being perfect, I learned a lot about web programming and databases within python.</p>

{% endblock %}